---
const { title, iconName, iconSize, content, favorite, cena, backgroundColor, odkaz } =
	Astro.props;
import { Icon } from "astro-icon/components";
---

<style>
	a {
		text-decoration: none;
		color: var(--modra);
	}
	.sluzbaWrap {
		max-width: 333px;
		padding: 2rem;
		background-color: var(--bila);
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 16px;
		transition: all 0.25s ease;
	}
	.sluzbaWrap:hover {
		transform: scale(1.05);
	}

	.sluzbaContent > * {
		margin: 0;
	}

	.sluzbaPodrobnosti > * {
		margin: 0;
	}

	.cenaSluzby {
		font-weight: 400;
		margin-bottom: 1rem;
	}

	.sluzbaTitle {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.sluzbaH {
		font-size: 1.5rem;
	}

	.sluzbaDescription {
		font-weight: 400;
	}

	.sluzbaIcon {
		width: 45px;
		height: 45px;
		background-color: #8b5cf6;
		color: white;

		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 50%;
		flex-shrink: 0;
	}

	.favoriteBadge {
		position: absolute;
		font-size: 0.8rem;
		margin-top: -1.5rem;
		margin-left: 185px;
		border-radius: 32px;
		background-color: var(--fialova);
		color: var(--bila);
		padding: 0.25rem 1rem;
		text-transform: uppercase;
	}

	.podrobnosti {
		margin-left: 200px;
		border-radius: 32px;
		background-color: var(--fialova);
		color: var(--bila);
		padding: 0.5rem;
		display: flex;
		justify-content: center;
	}
</style>

<div class="sluzbaWrap sluzba-item" style={`background-color: ${backgroundColor};`}>
	<a href={odkaz}>
		<div class="sluzbaContent">
			{favorite && <span class="favoriteBadge">{favorite}</span>}
			<div class="sluzbaTitle">
				<div class="sluzbaIcon">
					{iconName && <Icon name={iconName} size={iconSize} />}
				</div>
				<div class="sluzbaPodrobnosti">
					<h3 class="sluzbaH">{title}</h3>
					<p class="cenaSluzby">{cena}</p>
				</div>
			</div>
			<p class="sluzbaDescription">{content}</p>
			<a href={odkaz} class="podrobnosti">
				Podrobnosti
			</a>
		</div>
	</a>
</div>
