---
import BaseLayout from "./BaseLayout.astro";
import Container from "./Container.astro";
import { getCollection } from "astro:content";

const { frontmatter } = Astro.props;

const vsechnyPrispevky = await getCollection("blog");

const ostatniPrispevky = vsechnyPrispevky.filter(
	(prispevek) => prispevek.id !== frontmatter.slug,
);
---

<style>
	.blogContainer {
		background-color: var(--bila);
		padding: 2rem;
		border-radius: 32px;
	}
</style>
<BaseLayout title={frontmatter.title} classValue="pageContainer">
	<Container>
		<h1>{frontmatter.title}</h1>
		<p>Napsal {frontmatter.author}</p>
		<div class="blogContainer">
			<slot />
		</div>
		<p>Ostatní příspěvky</p>
		<ul>
			{
				ostatniPrispevky.map((prispevek) => (
					<li>
						<a href={`/posts/${prispevek.id}`}>{prispevek.data.title}</a>
					</li>
				))
			}
		</ul>
	</Container>
</BaseLayout>
